@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .hiding {
    display: inline;
  }

  header {
    position: fixed;
    width: 100%;
    margin-top: 0;
    background-color: white;
    top: 0;
  }

  header > div {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header div img {
    width: 15%;
    height: 100%;
  }

  header div ul {
    list-style: none;
    display: flex;
  }

  header > .desktop > #menu > ul > li > a {
    text-decoration: none;
    padding: 15px;
    color: rgb(29, 32, 39);
    font-size: 15px;
  }

  header > .desktop > #menu > ul > li > .about {
    color: rgb(240, 65, 12);
  }

  #first-section {
    margin-top: 100px;
  }

  #first-section > div {
    width: 80%;
    margin: auto;
  }

  #first-section > div > p {
    color: rgb(240, 65, 12);
    font-size: xx-large;
    margin-bottom: 10px;
  }

  h1 {
    color: rgb(240, 65, 12);
    font-size: 55px;
    font-weight: 400;
    width: 70%;
    line-height: 60px;
  }

  #first-section > div > #content {
    width: 40%;
  }

  #first-section > div > #logo-div {
    justify-content: flex-start;
  }

  #program-lineup {
    width: 99%;
  }

  #program-lineup > ul {
    display: flex;
    width: 80%;
    margin: auto;
  }

  #program-lineup > ul > .activity {
    display: block;
    margin: 20px 1px;
    text-align: center;
  }

  #program-lineup > ul > .activity > .activity-info {
    width: 100%;
    margin: 20px auto;
  }

  #program-lineup > ul > .activity > .activity-title {
    width: 100%;
  }

  #program-lineup div button {
    background-color: inherit;
    width: fit-content;
    margin: 0 35%;
    text-decoration: underline;
  }

  #guests ul {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: auto;
  }

  #partners > div {
    max-width: 80%;
    margin: 0 auto;
  }

  #guests .guest-speakers div {
    width: 68%;
  }

  #partners {
    background-color: rgb(59, 62, 69);
    text-align: center;
  }

  #partners > h3 {
    color: rgb(139, 142, 149);
    font-weight: 400;
    padding: 30px 0 0 0;
  }

  #partners img {
    width: 100px;
    padding: 10px;
    margin-bottom: 50px;
  }
}
